{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-rss"></i> News</h6>
    <div class="px-4 pb-4">
        {% for year in news_by_year %}
        <div class="timeline-year">{{ year.name }}</div>
        <div>
            {% for item in year.items %}
            <div class="timeline-item">
                <div class="timeline-date">
                    {{ item.date | date: "%b %d" }}
                </div>
                <div class="timeline-marker">
                    <div class="timeline-dot"></div>
                    <div class="timeline-line"></div>
                </div>
                <div class="timeline-content">
                    <div class="timeline-title">{{ item.title }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% assign news_count = site.news | size %}
    {% if include.limit %}
    <h6 class="d-block p-3 mt-0 text-right border-top border-gray">
        <a href="{{ 'news' | relative_url }}"> View all news <i class="fas fa-angle-double-right"></i></a>
    </h6>
    {% endif %}
</div>